
/* 
    CSS Styling sheet for Medien player
    Author: Shane
*/

.root {
    -fx-background-color: #181818;
}

.label {
    -fx-text-fill: #e8e8e8;
}


.button {
    -fx-background-color: #b8b8b8;
    -fx-background-radius: 15;
}
